<h2>Look Up a single Coin Currency</h2>
<br/>
<%= form_tag home_lookup_path, :method => 'GET' do %>
 <%= text_field_tag 'sym', nil, placeholder:'Enter Crypto Symbol', size: 30 %>
 <%= submit_tag 'Lookup Stock Quote'%>
 <%end%>
<br/>

<%if @symbol %> 
    <% for x in @lookup_coin['data'] %>
        <% if @symbol == x['symbol'] %>
           <% @a = x['symbol']%>   
           <% break %>     
        <% end %>
        <% if @symbol == ""%>
        <%="Not enter the field"%>
            <%break%>
        <%end%>
    <% end %>     
   <%if @a != nil && @a != 0%>
        <%= x['name']%>: $<%= x['quote']['USD']['price']%>
            <br/>volume_24h:<%= x['quote']['USD']['volume_24h']%>
            <br/>Rank: <%= x['cmc_rank']%>
            <br/>
    <%elsif @a==0 && @symbol != "" %>
    <%= @error%>
   <%end%> 

<% end %> 





