<h2>Search result</h2>
<br/>
<%if @input != "" %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Price</th>
      <th scope="col">Volume</th>
    </tr>
  </thead>
  <tbody> 
  <%# search by symbol%>
    <% for x in @lookup_coin['data'] %>
        <% if x['name'].downcase.include?(@input) %>
           <tr>
                <td><%= x['cmc_rank']%></td>
                <td><%= x['name'] %></td>
                <td><%= x['symbol'] %></td>
                <td>$<%= x['quote']['USD']['price']%></td>
                <td><%= x['quote']['USD']['volume_24h']%></td>
            </tr>   
        <% elsif x['symbol'].downcase.include?(@input)  %>
            <tr>
                <td><%= x['cmc_rank']%></td>
                <td><%= x['name'] %></td>
                <td><%= x['symbol'] %></td>
                <td>$<%= x['quote']['USD']['price']%></td>
                <td><%= x['quote']['USD']['volume_24h']%></td>
            </tr> 
        <%end%>               
    <% end %>     
     </tbody>
</table>
<% elsif @input == ""%>
  <%="Not enter the field"%>
<% end %> 

