<div id="<%= dom_id crypto %>">
  <p>
    <strong>Symbol:</strong>
    <%= crypto.symbol %>
  </p>

  <p>
    <strong>User:</strong>
    <%= crypto.user_id %>
  </p>

  <p>
    <strong>Cost per:</strong>
    <%= crypto.cost_per %>
  </p>

  <p>
    <strong>Amount owned:</strong>
    <%= crypto.amount_owned %>
  </p>

</div>
