<!DOCTYPE html>
<html>
  <head>
    <title>RailsCrypto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= link_to "Home", root_path %>
  <%= link_to "About Us", home_about_path %>
  <%= link_to "Look Up", home_lookup_path %>


    <%= yield %>
  </body>
</html>
