<!DOCTYPE html>
<html>
  <head>
    <title>RailsCrypto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'home/header'%>  <%= link_to "Table", home_table_path %>



    <%= yield %>
  </body>
</html>
