<!DOCTYPE html>
<html>
  <head>
    <title>RailsCrypto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body class="d-flex flex-column min-vh-100">
  <%= render 'header_footer/header'%>  
  <%= yield %>
  <%= render 'header_footer/footer'%>
  <%= render 'header_footer/flash'%>

  </body>
</html>
